/*START DESKTOP LAYOUT*/
@media only screen and (min-width: 600px) {
    header {
        background-image: url(https://media.discordapp.net/attachments/1078717279191171133/1078848836052717608/betterGradint.png);
        background-size:cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    .button a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-right: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: black;
        border-radius: 7px;
        transition: background-color .55s ease-in-out;
    }
    .button a:hover {
        text-decoration: none;
        color: rgb(58, 58, 64);
        font-size: 30px;
        margin-right: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: white;
        border-radius: 7px;
        transition: background-color .2s ease-in-out;
    }
    .logo img {
        width: 60px;
        height: auto;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        filter: drop-shadow(3px 3px 5px black);
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
    }
    .logo img:hover {
        width: 60px;
        height: auto;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        filter: drop-shadow(3px 3px 5px black);
        opacity: 0.5;
        transition: opacity .2s ease-in-out;
    }
    
    /*BEGINNING OF MAIN PAGE CONTENT*/
    
    .hero {
        background-image: url(https://media.discordapp.net/attachments/1078717279191171133/1078848836052717608/betterGradint.png);
        height: 80%;
        background-size:cover;
        background-position: bottom;
        padding-top: 77.1px;
    }
    .hero img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .intro h1{
        color: white;
        margin-top: 2%;
        cursor: default;
        padding-bottom: 10px;
        font-size: 100px;
    }
    .intro p {
        color:white;
        margin-bottom: 10%;
        cursor: default;
        font-size: 30px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .ip{
        color: white;
        margin-bottom: 2%;
        text-align: center;
        font-size: 100px;
    }
    .ver{
        color: white;
        margin-bottom: 20%;
        cursor: default;
        text-align: center;
        margin-top: 2%;
    }
    button{
        background-color: white;
        color: black;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 7px;
        max-width: 700px;
        margin-inline: auto;
        cursor: pointer;
        transition: background-color .55s ease-in-out;
    }
    button:hover{
        background-color: rgb(58, 58, 64);
        color: white;
        border-color: white;
        border-radius: 7px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        max-width: 700px;
        margin-inline: auto;
        transition: background-color .2s ease-in-out;
    }
    small {
        color: #fff;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .sorry {
        display:none;
    }
    .fade-in { animation: fadeIn 2s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-touch {
    opacity: 50%;
    transition: ease-in 0.5s;
}
.fade-in-touch:hover {
    opacity: 100%;
    transition: ease-in 0.2s;
}
} 
