/*PAGE SETUP*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background: black;
}

/*START MOBILE LAYOUT*/
@media only screen and (max-width: 600px) {
header {
    background-image: url(https://cdn.discordapp.com/attachments/1009939250927636580/1059632532779438230/betterGradint.png);
    background-size:cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.button a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: black;
    border-radius: 10px;
}
.logo img {
    width: 60px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    filter: drop-shadow(3px 3px 5px black);
}

/*BEGINNING OF MAIN PAGE CONTENT*/

.hero {
    background-image: url(https://cdn.discordapp.com/attachments/1009939250927636580/1067899312740257912/2023-01-14_12.40.12.png);
    height: 80%;
    background-size:cover;
    background-position: bottom;
}
.hero img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.intro h1{
    color: white;
    margin-top: 2%;
    cursor: default;
    padding-bottom: 10px;
    text-align: center;
}
.intro p {
    color:white;
    margin-bottom: 20%;
    cursor: default;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.ip{
    color: white;
    margin-bottom: 2%;
    cursor: default;
    text-align: center;
}
.ver{
    color: white;
    margin-bottom: 30%;
    cursor: default;
    text-align: center;
}
}
button{
    background-color: white;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 50%;
    margin-inline: auto;
    margin-bottom: 2%;
}
button:hover{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 50%;
    margin-inline: auto;
    margin-bottom: 2%;
}


/*START DESKTOP LAYOUT*/


@media only screen and (min-width: 600px) {
    header {
        background-image: url(https://cdn.discordapp.com/attachments/1009939250927636580/1059632532779438230/betterGradint.png);
        background-size:cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .button a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-right: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: black;
        border-radius: 10px;
    }
    .logo img {
        width: 60px;
        height: auto;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        filter: drop-shadow(3px 3px 5px black);
    }
    
    /*BEGINNING OF MAIN PAGE CONTENT*/
    
    .hero {
        background-image: url(https://cdn.discordapp.com/attachments/1009939250927636580/1067899312740257912/2023-01-14_12.40.12.png);
        height: 80%;
        background-size:cover;
        background-position: bottom;
    }
    .hero img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .intro h1{
        color: white;
        margin-top: 2%;
        cursor: default;
        padding-bottom: 10px;
        font-size: 100px;
    }
    .intro p {
        color:white;
        margin-bottom: 10%;
        cursor: default;
        font-size: 30px;
        margin-left: 25%;
        margin-right: 25%;
    }
    .ip{
        color: white;
        margin-bottom: 2%;
        text-align: center;
        font-size: 100px;
    }
    .ver{
        color: white;
        margin-bottom: 20%;
        cursor: default;
        text-align: center;
    }
    button{
        background-color: white;
        color: black;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        max-width: 15%;
        margin-inline: auto;
        margin-bottom: 2%;
    }
    button:hover{
        background-color: black;
        color: white;
        border-color: white;
        border-radius: 7px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        max-width: 15%;
        margin-inline: auto;
        margin-bottom: 2%;
    }
} 



.fade-in { animation: fadeIn 2s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-touch {
    opacity: 50%;
    transition: ease-in 0.5s;
}
.fade-in-touch:hover {
    opacity: 100%;
    transition: ease-in 0.2s;
}
